.App {
  background-image: url(./assets/concert-bg.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.55);
  background-blend-mode: darken;
  overflow: none;
  -ms-overflow-style: none;  /* hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* hide scrollbar for Firefox */
  ::-webkit-scrollbar { /* hide scrollbar for Chrome */
    display: none;
  }
  ::-webkit-datetime-edit-fields-wrapper {
    font-size: 16px;
    height: 10px;
  }
}

.App-logo {
  height: 110px;
  pointer-events: none;
}
